<html>
    <head>
        <%- include('_head') %>
    </head>


    <body>

        <%- include('_navbar') %>
        <%- include('_room-details') %>

        <footer>
            <%- include ('_footer') %>
        </footer>   
    </body>


</html>