<script>
    function verifyDetails(){

    var stationNums = document.forms["details"]["stations"].value;
    var minutes = document.forms["details"]["minutes"].value;
    var minutesRemaining = document.forms["details"]["warning"].value;
    var minutesReading = document.forms["details"]["reading"].value;
    var secondsSwitching = document.forms["details"]["switching"].value;

 

    if(stationNums == "" || stationNums > 15 || stationNums < 1){
        alert("The exam must have betweeen 1 and 15 stations!");
    } else{
        if(minutes == "" || minutes > 30 || minutes < 1 ){
            alert("Each station lasts between 1 and 30 minutes!");
        } else {
            if(minutesRemaining == "" || minutesRemaining > 20  || minutesRemaining < 1 ){
                alert("The warning must be when there are 1-20 minutes left!");
            } else if(minutesRemaining >= minutes) {
                alert("The warning must be less than the amount of time alloted for each station!")
            } else{
                if(minutesReading >= 10 || minutesReading < 0 ){
                    alert("Students are allowed 0-10 minutes for secnario reading!");
                } else{
                    if(secondsSwitching > 120 || secondsSwitching < 0){
                     alert("Students are allowed between 0 and 120 seconds to switch to the next station")       
                    } else{
                        alert("Details submitted. Processing timer");
                }
            }

        }
            
            
            
    
            
            
        }

    }
}

</script>

<button type = "button" onclick = "verifyDetails()"> Verify Details</button>