<!--The head of each page, including:
        - links to bootstrap to apply bootstrap designing
        - link to external css file to apply custom designs to content
        - link to allow fontawesome icons to work on the app
        - link to apply ajax code
        - link to apply external javascript code created for the pages
        - head content such as the window icon and the title -->
        

        <!--bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
        
        <!--Javascript-->
        <!-- <script type = "text/javascript" src="scripts/timers.js"></script> --> <!--Contains the three timer partial code into one page, the system can function successfully
                without this though-->
        <script type = "text/javascript" src = "scripts/progression.js"></script> 

        <!--css-->
        <link rel = "stylesheet" href = "css/styles.css">

        <!--Font awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

        <!--Ajax-->
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

        <!--Clock tab icon-->
        <link rel = "shortcut icon" type = "x-icon" href = "images/clock-shadow.png">
        <!--Title-->
        <title><%= title %></title>