<!--unused navigation bar which would take the user to pages that discussed
   different OSCE rooms which contained placeholder information about each room-->

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    
    <div class="collapse navbar-collapse" id="main-navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" class="nav-link <%= title === 'Home' ? 'active' : '' %>">Home</a>
        </li>
        <li class="nav-item">
          <a href="/room1" class="nav-link <%= title === 'room1' ? 'active' : '' %>">Room1</a>
        </li>
        <li class="nav-item">
          <a href="/room2" class="nav-link <%= title === 'room2' ? 'active' : '' %>">Room2</a>
        </li>
        
        
      </ul>
     </div>
   
  </nav>
  