<form id = "optional-details">



<p>Time to read through each scenario options; <%= minutesToRead %> </p> 
<label for = "reading">How much time to read through the scenario before starting (in minutes)? </label>
<input type = "text" name="reading" class = "reading" value="">  <br><br>

<br>
<br>


<p> Time to switch between each station; <%= secondsToSwitchStation %> </p>
<label for = "switching">How much time should be given to switch to the next station? </label>
<input type = "text" name="switching" id = "switching" value=""> <br><br>

<br>
<br>


</form>
