

<div id = "readingTimer">

    </div>
    
<br>
<button type = "button" onclick = "loadTimer()">Move to exam timer</button>

<script>





function loadTimer(){
    var xhttp = new XHttpRequest();
    xhttp.onreadystatechange = function(){
        if(this.readyState == 4 && this.status == 200){
          updateTimer()
        }
    };
    xhttp:open("GET", "_timer.ejs", true);
    xhttp.send();
}





//reading = pairs[3].substr(pairs[3].length-1).toString();
var reading = pairs[3].slice(pairs[3].indexOf("=") + 1).toString();
//alert(reading);

var readingInInt = parseInt(reading);
//alert(readingInInt);
var readingTime = readingInInt * 60;



var readingTimer;
var readingTimerEle = document.getElementById('readingTimer');

readingTimer = setInterval(updateReadingTimer, 1000);


function updateReadingTimer(){
    var readingMinutesInTimer = Math.floor(readingTime / 60);
    var readingSecondsInTimer = readingTime % 60;
    if (readingSecondsInTimer < 10 && readingMinutesInTimer < 10){
        readingTimerEle.innerHTML = "0"+ readingMinutesInTimer + ":0" + readingSecondsInTimer;
    }else if(readingSecondsInTimer < 10){
        readingTimerEle.innerHTML = readingMinutesInTimer + ":0" + readingSecondsInTimer;
    } else if(readingMinutesInTimer < 10){
        readingTimerEle.innerHTML = "0"+ readingMinutesInTimer + ":" + readingSecondsInTimer;
    } else{
        readingTimerEle.innerHTML = readingMinutesInTimer + ":" + readingSecondsInTimer;
    }
    readingTime--;


    function stopReadingTimer(){
        clearInterval(readingTimer);
    }

    if(readingTime < 0){
        stopReadingTimer();
        alert("Reading time is over!" );
        //updateTimer();
        loadTimer();
    }}


</script>