
<a id = "gettingTime" href = "/reading-timer-page"></a>
<!--<button onclick = "toggleReadTimer()">Toggle reading timer once switching timer hits 0</button> -->
 <div id = "readingTimer">
   
    </div>
    
<br>

<script>



// $(document).ready(function(){
//     $("button").click(function(){
//         $("timer" ,"switchingTimer").toggle();
//     });
// });

// function loadTimer(){
//     var xhr = new HMLHTTPRequest();
//     xhr.open('GET', "/timer", false);
//     xhr.onload = function(){
//         if (xhr.status == 200){
//             console.log("success");
//             let timer = JSON.parse(this.response)
//             console.log(timer);
//             const timerAppear = document.createElement('div');
//             timerAppear.innerHTML = updateTimer();
//             document.getElementById("readingTimer").appendChild(timerAppear);
            

//         }
//     }
// }




var pairs;
//reading = pairs[3].substr(pairs[3].length-1).toString();
var reading = pairs[3].slice(pairs[3].indexOf("=") + 1).toString();
//alert(reading);

var readingInInt = parseInt(reading);
//alert(readingInInt);
var readingTime = readingInInt * 60;



var readingTimer;
var readingTimerEle = document.getElementById('readingTimer');

var readingBell = new Audio("audio/happy-bells.wav");



// setTimeout(readingTimer, 5000);

// function toggleReadTimer(){
//     var readTimer = document.getElementById("readingTimer");
//     if(readTimer.style.display === "none"){
//         readTimer.style.display = "block";
//     } else {
//         readTimer.style.display = "none";
//     }
// }
function countReadingTimer(){
    readingTimer = setInterval(updateReadingTimer, 1000);
    return readingTimer;
}


function updateReadingTimer(){
    var readingMinutesInTimer = Math.floor(readingTime / 60);
    var readingSecondsInTimer = readingTime % 60;
    if (readingSecondsInTimer < 10 && readingMinutesInTimer < 10){
        readingTimerEle.innerHTML = "0"+ readingMinutesInTimer + ":0" + readingSecondsInTimer;
    }else if(readingSecondsInTimer < 10){
        readingTimerEle.innerHTML = readingMinutesInTimer + ":0" + readingSecondsInTimer;
    } else if(readingMinutesInTimer < 10){
        readingTimerEle.innerHTML = "0"+ readingMinutesInTimer + ":" + readingSecondsInTimer;
    } else{
        readingTimerEle.innerHTML = readingMinutesInTimer + ":" + readingSecondsInTimer;
    }
    console.log(readingTime)
    readingTime--;

   

    function stopReadingTimer(){
        clearInterval(readingTimer);
    }

    var nextTimer;
    if(readingTime < 0){
        stopReadingTimer();
        readingTimerEle.innerHTML = "TIME'S UP! "
        readingBell.play();
        alert("Reading time is over!" );
        //updateTimer();
        //loadTimer();
        // nextTimer = document.getElementById("nextTimer");
        // nextTimer.href ="/main-timer-page";
        // nextTimer.innerHTML = "To the exam timer";
    }}
    


</script>