
<!--<button onclick = "toggleReadTimer()">Toggle reading timer once switching timer hits 0</button> -->
<p id = "readingTimerStart" class = "startingAnnouncements"></p>

 <div id = "readingTimer">

    </div>
    
<br>

<script>


//UNUSED CODE using AJAX AND JQUERY TO MAKE ONE TIMER APPEAR AT A TIME
// $(document).ready(function(){
//     $("button").click(function(){
//         $("timer" ,"switchingTimer").toggle();
//     });
// });

// function loadTimer(){
//     var xhr = new HMLHTTPRequest();
//     xhr.open('GET', "/timer", false);
//     xhr.onload = function(){
//         if (xhr.status == 200){
//             console.log("success");
//             let timer = JSON.parse(this.response)
//             console.log(timer);
//             const timerAppear = document.createElement('div');
//             timerAppear.innerHTML = updateTimer();
//             document.getElementById("readingTimer").appendChild(timerAppear);
            

//         }
//     }
// }



//extracting  string in the url to obtain the amount of minutes to read per station
// based off users input data

var pairs;
//reading = pairs[3].substr(pairs[3].length-1).toString();
var reading = pairs[3].slice(pairs[3].indexOf("=") + 1).toString();
//alert(reading);

var readingInInt = parseInt(reading);
//alert(readingInInt);
var readingTime = readingInInt * 60;



var readingTimer;

//variable which will contain the reading timer inside the readingTimer div 
var readingTimerEle = document.getElementById('readingTimer');




// setTimeout(readingTimer, 5000);

// function toggleReadTimer(){
//     var readTimer = document.getElementById("readingTimer");
//     if(readTimer.style.display === "none"){
//         readTimer.style.display = "block";
//     } else {
//         readTimer.style.display = "none";
//     }
// }


//function which initiates the timer counting down




function countReadingTimer(){
    var rTimerStart = document.getElementById("readingTimerStart");
    var startReadingAudio = new Audio("audio/new-recordings/reading_time_started.wav");
    startReadingAudio.play();
    rTimerStart.innerHTML = "Reading Timer Has Started";
    readingTimer = setInterval(updateReadingTimer, 1000);
    return readingTimer;
}



function triggerTimer(){
    var sTimerStart = document.getElementById("switchTimerStart");
    var switchStationAudio = new Audio("audio/new-recordings/switch_station.wav");
    switchStationAudio.play();
    sTimerStart.innerHTML = "Switching Timer Has Started";
    switchingTimer = setInterval(updateSwitchingTimer, 1000);
    return switchingTimer;
}


countReadingTimer()


//function which helps to format the look of the timer a well as calculate the amount of minutes and seconds in the timer
function updateReadingTimer(){
    var readingMinutesInTimer = Math.floor(readingTime / 60);
    var readingSecondsInTimer = readingTime % 60;
    if (readingSecondsInTimer < 10 && readingMinutesInTimer < 10){
        readingTimerEle.innerHTML = "0"+ readingMinutesInTimer + ":0" + readingSecondsInTimer;
    }else if(readingSecondsInTimer < 10){
        readingTimerEle.innerHTML = readingMinutesInTimer + ":0" + readingSecondsInTimer;
    } else if(readingMinutesInTimer < 10){
        readingTimerEle.innerHTML = "0"+ readingMinutesInTimer + ":" + readingSecondsInTimer;
    } else{
        readingTimerEle.innerHTML = readingMinutesInTimer + ":" + readingSecondsInTimer;
    }
    //console.log(readingTime)
    readingTime--;

//function inside the update funtion which alloes the timer to be stopped
    function stopReadingTimer(){
        clearInterval(readingTimer);
    }

    //if the time for the reading timer hits 0; the function to stop the timer is called,
    // the bell rings and the notification alert saying the reading timer is over appears
    if(readingTime < 0){
        stopReadingTimer();
        readingTimerEle.innerHTML = "TIME'S UP!!! Reading Timer Has Ended";
        //variable which stores the bell alert for when the timer runs out
        // var readingBell = new Audio("audio/happy-bells.wav");
        // readingBell.play();
        // var stopReadingAudio = new Audio("audio/new-recordings/reading_time_ended.wav");
        // stopReadingAudio.play();
        triggerTimer();
    }}
    


</script>