
<!--Unused ages which eould contain information about the rooms in the OSCE, 
    information is stored in the server-->
<header>
    <h2>Welcome to <%= title %></h2>
</header>

<p>Capacity: <%= capacity %></p>






