

<!-- <button onclick = "toggleSwitchTimer()">Toggle switching timer once main timer hits 0</button> -->
<div id = "switchingTimer">
    
    </div>

<br>



<script>

//extracting  string in the url to obtain the amount of minutes to read per station
// based off users input data
var pairs;

var switching = pairs[4].slice(pairs[4].indexOf("=") + 1).toString();
//alert(switching);

var switchingInInt = parseInt(switching);
    
var switchingTime = switchingInInt;
    
    
    
    
var switchingTimer;

//variable which will contain the switching timer to be inside the switchingTimer div 
var switchingTimerEle = document.getElementById('switchingTimer');
    
//variable which stores the bell alert for when the switching timer runs out
var switchingBell = new Audio("audio/school-bell.wav");


//function which initiates the timer counting down

// function triggerTimer(){
//     var timerStart = document.createElement(p);
//     timerStart.innerHTML = "Exam timer has started";
//     timer = setInterval(updateTimer, 1000);
//     return timer;
// }

// function countReadingTimer(){
//     var rTimerStart = document.createElement(p);
//     rTimerStart.innerHTML = "Reading timer has started";
//     readingTimer = setInterval(updateReadingTimer, 1000);
//     return readingTimer;
// }

function triggerSwitchingTimer(){
    var sTimerStart= document.createElement("p");
    sTimerStart.innerHTML = "Switching timer has started";
    switchingTimer = setInterval(updateSwitchingTimer, 1000);
    return switchingTimer;
}

// function toggleSwitchTimer(){
//     var switchTimer = document.getElementById("switchingTimer");
//     if(switchTimer.style.display === "block"){
//         switchTimer.style.display = "none";
//     } else {
//         switchTimer.style.display = "block";
//     }
// }
    
//function which helps to format the look of the timer a well as calculate the amount of minutes and seconds in the timer
function updateSwitchingTimer(){
    var switchingMinutesInTimer = Math.floor(switchingTime / 60);
    var switchingSecondsInTimer = switchingTime % 60;
    if (switchingSecondsInTimer < 10 && switchingMinutesInTimer < 10){
        switchingTimerEle.innerHTML = "0"+ switchingMinutesInTimer + ":0" + switchingSecondsInTimer;
    }else if(switchingSecondsInTimer < 10){
        switchingTimerEle.innerHTML = switchingMinutesInTimer + ":0" + switchingSecondsInTimer;
    } else if(switchingMinutesInTimer < 10){
        switchingTimerEle.innerHTML = "0"+ switchingMinutesInTimer + ":" + switchingSecondsInTimer;
    }  else{
        switchingTimerEle.innerHTML = switchingMinutesInTimer + ":" + switchingSecondsInTimer;
    }

    switchingTime--;
    
///function which stops the switching timer 
function stopSwitchingTimer(){
    clearInterval(switchingTimer);
}

    
//if the time for the switching timer hits 0; the function to stop the timer is called,
// the bell rings and the notification alert saying the reading timer is over appears
if(switchingTime < 0){
        stopSwitchingTimer();
        switchingTimerEle.innerHTML = "TIME'S UP!!!";
        var sTimerFinish = document.createElement("p");
        sTimerFinish.innerHTML = "Switching time is over, you should be into your new station";
        switchingBell.play();

        
}}
    
    
    
    
    
</script>
    