<a id = "gettingTime" href = "/switching-timer-page"></a>

<!-- <button onclick = "toggleSwitchTimer()">Toggle switching timer once main timer hits 0</button> -->
<div id = "switchingTimer">
    
    </div>

<br>


<script>


var switching = pairs[4].slice(pairs[4].indexOf("=") + 1).toString();
//alert(switching);

var switchingInInt = parseInt(switching);
    
var switchingTime = switchingInInt;
    
    
    
    
var switchingTimer;
var switchingTimerEle = document.getElementById('switchingTimer');
    
var switchingBell = new Audio("audio/school-bell.wav");

function triggerSwitchingTimer(){
    switchingTimer = setInterval(updateSwitchingTimer, 1000);
    return switchingTimer;
}

// function toggleSwitchTimer(){
//     var switchTimer = document.getElementById("switchingTimer");
//     if(switchTimer.style.display === "block"){
//         switchTimer.style.display = "none";
//     } else {
//         switchTimer.style.display = "block";
//     }
// }
    
function updateSwitchingTimer(){
    var switchingMinutesInTimer = Math.floor(switchingTime / 60);
    var switchingSecondsInTimer = switchingTime % 60;
    if (switchingSecondsInTimer < 10 && switchingMinutesInTimer < 10){
        switchingTimerEle.innerHTML = "0"+ switchingMinutesInTimer + ":0" + switchingSecondsInTimer;
    }else if(switchingSecondsInTimer < 10){
        switchingTimerEle.innerHTML = switchingMinutesInTimer + ":0" + switchingSecondsInTimer;
    } else if(switchingMinutesInTimer < 10){
        switchingTimerEle.innerHTML = "0"+ switchingMinutesInTimer + ":" + switchingSecondsInTimer;
    }  else{
        switchingTimerEle.innerHTML = switchingMinutesInTimer + ":" + switchingSecondsInTimer;
    }

    switchingTime--;
    
    
function stopSwitchingTimer(){
    clearInterval(switchingTimer);
}
    
if(switchingTime < 0){
        stopSwitchingTimer();
        switchingTimerEle.innerHTML = "TIME'S UP!!!"
        switchingBell.play();
        alert("Switching time is over! You should be in your new stations now" );
        // var theOtherTimer = document.createElement("a");
        // theOtherTimer.href ="/reading-timer-page";
        //theNextTimer.innerHTML = "To the next station";
        
}}
    
    
    
    
    
</script>
    