<div id = "timer">
    
</div>




<script>

var timer;
var element = document.getElementById('timer');

    (function () {
        var form = document.getElementById("timer");
        var sseconds = form.search;
        var seconds = 60;
        console.log(seconds);
        timer = setInterval(()=> {
            element.innerHTML = '00:' + seconds;
            seconds --;
            if(seconds < 10){
                element.innerHTML = "00:0" + seconds;
            }

    function stopTimer(){
        clearInterval(timer);
    }

    
    if(seconds === 0){
        stopTimer();
    }}, 1000);
    })()



</script>
