<a id = "gettingTime" href = "/timer-page"></a>



<br><br>

<div id = "timer">
    <!-- <audio id = "bellId" controls autoplay>
        <source src = "audio/notification-bell.wav" type = "audio/wav">
    </audio> -->
</div>

<br>
<div id = "warningIndicator">
</div>

<br>




<script>


/////MAIN TIMER////////////

var minutes = pairs[1].slice(pairs[1].indexOf("=") + 1).toString();

var minutesInInt = parseInt(minutes);
//alert(minutesInInt);
var time = minutesInInt * 60;


var timer;
var timerElement = document.getElementById('timer');

timer = setInterval(updateTimer, 100);
alert("Station started");

function updateTimer() {

    var minutesInTimer = Math.floor(time / 60);
    var secondsInTimer = time % 60;
    if (secondsInTimer < 10 && minutesInTimer < 10){
            timerElement.innerHTML = "0"+ minutesInTimer + ":0" + secondsInTimer;
        }else if(secondsInTimer < 10){
            timerElement.innerHTML = minutesInTimer + ":0" + secondsInTimer;
        } else if(minutesInTimer < 10){
            timerElement.innerHTML = "0"+ minutesInTimer + ":" + secondsInTimer;
        } else{
            timerElement.innerHTML = minutesInTimer + ":" + secondsInTimer;
        }
    time--;
    



    //isolating the value entered for the warning as its own string in a unique variable
    
    var minutesWarning = pairs[2].slice(pairs[2].indexOf("=") + 1).toString();

    //the type is converted to an int for comparing and output
    var minutesWarningInt = parseInt(minutesWarning);

    var warningElement = document.getElementById("warningIndicator");

    //creating warning which matches with users inputs
    if(minutesInTimer === minutesWarningInt && secondsInTimer === 0){
        //createWarning();
        if(minutesWarningInt === 1){
            warningElement.innerHTML = minutesWarningInt + " minute left for this station!!";
        } else {
            warningElement.innerHTML = minutesWarningInt + " minutes left for this station!!";
        }

    }



    //function which stops the timer 
    function stopTimer(){
        clearInterval(timer);
    }

    
    function playAudio(){
        var bell = new Audio("public/audio/notification-bell.wav");
        bell.play();
    }
    
    //if the seconds and minutes are both 0 the function is called to stop the timer - so no negative numbers in timer
    if(time < 0){
        stopTimer();
        //var bell = document.getElementById("bellId").play();
        playAudio();
        alert("Station finished!" );
        alert("Examination finished!");
        
    }}



</script>
