<a id = "gettingTime" href = "/timer-page"></a>



<br><br>

<div id = "timer">
    
</div>




<script>

var minutes = pairs[1].substr(pairs[1].length-1).toString();
if(minutes.slice("=", ",").length > 1){
    minutes = pairs[1].substr(pairs[1].length-2).toString();
}

var minutesInInt = parseInt(minutes);


// alert(minutes)
// alert(pairs)
// alert(minutesInInt)
// alert(stationsAsInt);


var timer;
var element = document.getElementById('timer');

    (function () {

        timer = setInterval(()=> {
            element.innerHTML = '00:' + minutesInInt;
            minutesInInt --;
            if(minutesInInt < 10){
                element.innerHTML = "00:0" + minutesInInt;
            }

    function stopTimer(){
        clearInterval(timer);
    }

    
    if(seconds === 0){
        stopTimer();
    }}, 1000);
    })()



</script>
