<a id = "gettingTime" href = "/timer-page"></a>



<br><br>

<div id = "timer">
    
</div>

<br>
<div id = "warningIndicator">

</div>




<script>
var minutes = pairs[1].substr(pairs[1].length-1).toString();
if(minutes.slice("=", ",").length > 1){
    minutes = pairs[1].substr(pairs[1].length-2).toString();
}

var minutesInInt = parseInt(minutes);

var time = minutesInInt * 60;



var timer;
var timerElement = document.getElementById('timer');

timer = setInterval(updateTimer, 1000);
alert("Station started");

function updateTimer() {

    minutesInTimer = Math.floor(time / 60);
    var secondsInTimer = time % 60;
    if (secondsInTimer < 10 && minutesInTimer < 10){
            timerElement.innerHTML = "0"+ minutesInTimer + ":0" + secondsInTimer
        }else if(secondsInTimer < 10){
            timerElement.innerHTML = minutesInTimer + ":0" + secondsInTimer;
        } else if(minutesInTimer < 10){
            timerElement.innerHTML = "0"+ minutesInTimer + ":" + secondsInTimer;
        } else{
            timerElement.innerHTML = minutesInTimer + ":" + secondsInTimer;
        }
    time--;
    


    //isolating the value entered for the warning as its own string in a unique variable
    var minutesWarning = pairs[2].substr(pairs[2].length-1).toString();
    if(minutesWarning.slice("=", ",").length > 1){
        minutesWarning = pairs[2].substr(pairs[2].length-2).toString();
    }

    //the type is converted to an int for comparing and output
    var minutesWarningInt = parseInt(minutesWarning);


    var warningElement = document.getElementById("warningIndicator");

    //creating warning which matches with users inputs
    if(minutesInTimer === minutesWarningInt && secondsInTimer === 0){
        //createWarning();
        if(minutesWarningInt === 1){
            warningElement.innerHTML = minutesWarningInt + " minute left for this station!!";
        } else {
            warningElement.innerHTML = minutesWarningInt + " minutes left for this station!!";
        }

    }



    //function which stops the timer 
    function stopTimer(){
        clearInterval(timer);
    }

    //if the seconds and minutes are both 0 the function is called to stop the timer - so no negative numbers in timer
    if(time < 0){
        stopTimer();
        alert("Station finished!" );
        alert("Examination finished!");
    }}



</script>
