<div id = "timer">
    
</div>



<script>

var timer;
var ele = document.getElementById('timer');

    (function () {
        var seconds = 30;
        timer = setInterval(()=> {
            ele.innerHTML = '00:' + seconds;
            seconds --;
        }, 1000);
    })()

    function stopTimer(){
        clearInterval(timer);
    }

    
    if(seconds === 0){
        stopTimer();
    }



</script>
