<p> Number of possible stations for this Exam; <%= stations %> </p>
        <label for = "stations">Enter number of stations - </label>
        <input type = "text" name="stations" id = "stations" value= "">  
        
        <br></br>
        <br></br>

        <p> Minutes allowed for each Station; <%= timePerStation %> </p>
        <label for = "minutes">How many minutes is each station?</label>
        <input type = "text" name="minutes" id = "minutes" value=""> <br></br>
