<script>

    //function which collects the information the user has entered and will validate this information
    function verifyDetails(){
    
    //the number of stations
    var stationNums = document.forms["details"]["stations"].value;
    //the amount of time per station
    var minutes = document.forms["details"]["minutes"].value;
    //the time when the warning appears
    var minutesRemaining =  parseInt("0" + document.forms["details"]["warning"].value);
    //the amount of time to read objectives
    var minutesReading = document.forms["details"]["reading"].value;
    //the amount of time to switch stations
    var secondsSwitching = document.forms["details"]["switching"].value;


    //alerts will appear if any data entered is unsuitable
    if(stationNums > 15 || stationNums < 1){
        alert("The exam must have betweeen 1 and 15 stations!");
    } else{
        if(minutes > 30 || minutes < 1 ){
            alert("Each station lasts between 1 and 30 minutes!");
        } else {
            if(minutesRemaining > 20  || minutesRemaining < 1 ){
                alert("The warning must be when there are 1-20 minutes left!");
            } else if(minutesRemaining > minutes) {
                alert("The warning must be less than the amount of time alloted for each station!")
            } else{
                if(minutesReading > 10 || minutesReading < 0 ){
                    alert("Students are allowed 0-10 minutes for scenario reading!");
                } else{
                    if(secondsSwitching > 120 || secondsSwitching < 0){
                     alert("Students are allowed between 0 and 120 seconds to switch to the next station.")       
                    } else{
                        alert("Details submitted. Processing timer");
                }
            }

        }
            
            
        }

    }
}

</script>
<!--clickig the button will verify the information entered, any inappropriate data will be caught-->
<button type = "button" id = "verify" onclick = "verifyDetails()"> Verify Details</button>