<html>
    <%- include('_head') %>
    <body>
    
    
        <div id = "e404">
            <i class="fa-sharp fa-solid fa-4 fa-2xl"></i>  
            <i class = "fa-sharp fa-solid fa-0 fa-2xl"></i>
            <i class="fa-sharp fa-solid fa-4 fa-2xl"></i>
        </div>
        <br>

        <div id = "error-content">
            <h3>Oh no! It looks like you have stumbled upon a dead end.</h3>
            <br>
            <div id = "ban-symbols">
                <i class="fa-solid fa-ban fa-shake fa-2xl"></i>
                <i class="fa-solid fa-ban fa-shake fa-2xl"></i>
                <i class="fa-solid fa-ban fa-shake fa-2xl"></i>
                <i class="fa-solid fa-ban fa-shake fa-2xl"></i>
            </div>
            <br>
            <p>Try going back to the home page and make sure all required details are entered.</p>

            <br>

            <a id = "back-home" href = "/">Return to the home page here</a>
        </div>
    </body>
</html>