<!--Easter egg page-->
<html>
    <head>
        <%- include('_head') %>
        <!-- creating error 404 label heading using fontawesome icons-->
        <div id = "e404">
            <i class="fa-sharp fa-solid fa-4 fa-2xl"></i>  
            <i class = "fa-sharp fa-solid fa-0 fa-2xl"></i>
            <i class="fa-sharp fa-solid fa-4 fa-2xl"></i>
        </div>
        <br>
    </head>
    <body>
    
        <!-- the main content of the page including more icons-->
        <div id = "error-content">
            <h3>Oh no! It looks like you have stumbled upon a dead end.</h3>
            <br>
            <div id = "ban-symbols">
                <i class="fa-solid fa-ban fa-shake fa-2xl"></i>
                <i class="fa-solid fa-ban fa-shake fa-2xl"></i>
                <i class="fa-solid fa-ban fa-shake fa-2xl"></i>
                <i class="fa-solid fa-ban fa-shake fa-2xl"></i>
            </div>
            <br>
            <p>Try going back to the home page and make sure all required details are entered.</p>

            <br>
            <!--Link to go back to the home page-->
            <a id = "back-home" href = "/">Return to the home page here</a>
        </div>
    </body>
</html>