<html>
    <head>
        <%- include('_head') %>

    </head>


    <body>
        <%- include('_navbar') %>


        <img src = "images/clock.jfif">
        <header>
            <h2>Welcome to the OSCE exam timer</h2>
        </header>
    
        <a href = "/room1">Room1 route</a>
    </body>


</html>