<html>
    <head>
        <%- include('_head') %>
    </head>


    <body>
    </body>
    <P>TIMER</P>

        <%- include('_timer') %>

        <footer>
            <%- include ('_footer') %>
        </footer>   
    </body>


</html>