body{
    background-color: purple;
    color:white;
    margin:25px;
}

footer{
    height:5%;
    margin-top:50px;
}


#verify{
    background-color:black;
    color:silver;
}
.timer-buttons{
    background-color: silver;
    width: 8%;
}

.startingAnnouncements{
    font-style: italic;
    font-weight:bold;
    font-size:18pt;
}


#read-trigger,.timer-buttons{
    color:indianred;
} 

#trigger, .timer-buttons{
    color:red;
}

#switch-trigger, .timer-buttons{
    color: gold;
}



#title, #e404, #ban-symbols{
    text-align: center;
}


#back-home{
    color:aquamarine;
}

#error-content{
    margin-top:10%;
}

.finished-message{
    display:inline;
}



#submission{
    float:right;
    margin-top:50px;
}




#summary{
    font-weight: bold ;
    font-size:22pt;
}

#timer, #readingTimer, #switchingTimer{
    font-size:66px;
    text-align:center;
    size: 3000pt;
}


#readingTimer{
    display:block;
}

#timer, #switchingTimer{
    display:block;
}

#warningIndicator {
    font-size:46px;
    text-align:center;
    color:red;

}



#progression-buttons{
    float:right;   
}

#nextStation{
    color:rgba(40, 182, 40, 0.815)
}
#end{
    color:purple;
}

