body{
    background-color: purple;
    color:white;
    margin:25px;
}


#title{
    text-align:center;
}

.finished-message{
    display:inline;
}

#timer{
    text-align:center;
    size: 3000pt;
}


#submission{
    float:right;
    margin-top:50px;
}

