body{
    background-color: purple;
    color:white;
    margin:25px;
}


#title{
    text-align:center;
}

.finished-message{
    display:inline;
}



#submission{
    float:right;
    margin-top:50px;
}


#e404{
    text-align: center;
}

#summary{
    font-weight: bold ;
}

#timer, #readingTimer, #switchingTimer{
    font-size:66px;
    text-align:center;
    size: 3000pt;
}


#readingTimer{
    display:block;
}

#timer, #switchingTimer{
    display:block;
}

#warningIndicator {
    font-size:46px;
    text-align:center;
    color:red;

}

#progression-buttons{
    float:right;   
}

#end{
    color:red;
}